<% const URL = 'https://uaerman.tech' %>
<link rel="icon" type="image/x-icon" href="https://cdn.uaerman.dev/icon/favicon.ico"></link>


<!DOCTYPE html>
<html lang = "en"></html>
<title>UÆRMAN</title>
<meta httpEquiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
<meta name="theme-color" content="#14bae4"/>
<meta property="og:image" content="https://cdn.uaerman.dev/images/profile.jpeg" />

<meta content="UÆRMAN" property="og:title"/>
<meta content="My personal webpage" property="og:description"/>
<meta content="My personal webpage" name="description"/>

<meta name="revisit-after" content="2 days"/>
<meta name="keywords" content="UAErman, Twitter, Developer, Github"/>
<meta property="og:locale" content="en_GB"/>
<link rel="canonical" href="<%= URL %>" />
<meta property="og:url" content="<%= URL %>" />
<meta property="og:site_name" content="UÆRMAN"/>

<!-- CSS -->
<link href="/css/modesta.css" type="text/css" rel="stylesheet">
<link href="/css/emojis.css" type="text/css" rel="stylesheet">
<link href="/css/custom.css" type="text/css" rel="stylesheet">

<!-- JavaScript -->
<script src="/js/main.js" type="text/javascript" charset="utf-8"></script>
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "d3138491f18445b98253533d932a561b"}'></script><!-- End Cloudflare Web Analytics -->