<% const URL = 'https://uaerman.tech' %>
<!DOCTYPE html>
<html lang="en">
<link rel="icon" type="image/x-icon" href="https://cdn.uaerman.dev/icon/favicon.ico"></link>
<meta charset="UTF-8">

<title>UÆRMAN</title>
<meta httpEquiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
<meta name="theme-color" content="#14bae4"/>
<meta property="og:image" content="https://cdn.uaerman.dev/images/profile.jpeg" />

<meta content="Umurcan Erman Personal Page" property="og:title"/>
<meta content="Umurcan Erman's BackEnd developer personal webpage" property="og:description"/>
<meta content="Umurcan Erman's BackEnd developer personal webpage" name="description"/>

<meta name="author" content="uaerman">
<meta name="revisit-after" content="2 days"/>
<meta name="keywords" content="UAErman, Umurcan Erman, Twitter, Developer, Github"/>
<meta property="og:locale" content="en_GB"/>
<link rel="canonical" href="<%= URL %>" />
<meta property="og:url" content="<%= URL %>" />
<meta property="og:site_name" content="UÆRMAN"/>

<!-- CSS -->
<link href="/css/modesta.css" type="text/css" rel="stylesheet">
<link href="/css/emojis.css" type="text/css" rel="stylesheet">
<link href="/css/custom.css" type="text/css" rel="stylesheet">

<!-- JavaScript -->
<script src="/js/main.js" type="text/javascript" charset="utf-8"></script>
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "d3138491f18445b98253533d932a561b"}'></script><!-- End Cloudflare Web Analytics -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NEBXVTD25B"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NEBXVTD25B');
</script>
